[submodule "vendor/premake-core"]
	path = vendor/premake-core
	url = https://github.com/premake/premake-core
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/s1cht/ImGui
[submodule "vendor/DXC"]
	path = vendor/DXC
	url = https://github.com/microsoft/DirectXShaderCompiler
[submodule "vendor/SPIRV-Tools"]
	path = vendor/SPIRV-Tools
	url = https://github.com/KhronosGroup/SPIRV-Tools
[submodule "vendor/xxHash"]
	path = vendor/xxHash
	url = https://github.com/s1cht/xxHash
	branch = dev
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
	branch = master
